.jumbotron {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.panel-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.panel-body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}