body {
    background: #020258;
}

.container {
    width: 100%;
}

.jumbotron {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background: #020258;
    color: rgb(180, 8, 8);
    border-right: dotted;
    border-left: dotted;
    border-bottom: dotted;
    border-color: rgb(180, 8, 8);
}

h1 {
    font-size: 50px;
}

.panel-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(180, 8, 8);
    border: dotted;
}

.panel-first {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(180, 8, 8);
    border: dotted;
}

.panel-body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(180, 8, 8);
    border: dotted;
    border-color: rgb(180, 8, 8);
}